
.paginator {
    width: 495px;
    margin-left: -35px;
}
.paginator .scroll_bar {
    width:100%;	height:20px;
    position:relative;
    margin-top:10px;
}
.paginator .scroll_trough {
    width:100%;	height:3px;
    background:#ccc;
    overflow:hidden;
    min-width: 350px;
    position: absolute;
    top: 5px;
}
.paginator .scroll_thumb {
    position:absolute;
    z-index:2;
    width:10px;
   /* height:3px;
    top:0;
    */
    left:0;
    font-size:1px;
    background:#59b210;
    max-width: 80px;

}
.paginator .scroll_knob {
    position:absolute;
    top:-12px;
    /*
    left:50%;
    */
    margin-left:-10px;
    /*width:20px; */
    height:20px;
    overflow:hidden;
    z-index: 100;
  /* background:url(/avatars/circle.png) no-repeat 100% 100%;*/
}
.paginator .current_page_mark {
    position:absolute;
    z-index:10;
    top:0; left:0;
    width:10px; height:3px;
    overflow:hidden;
}

.fullsize .scroll_thumb {
    display:none;
}


.paginator_pages {
    width:50%;
    text-align:center;
    font-size:0.8em;
    color:#808080;
    margin-top:-15px;
}

.arrow_left {
    left: -20px;
    top: -109px;
   /* background:url(/avatars/left.png) no-repeat 100% 100%;*/
    padding: 9px 32px!important;
    cursor:pointer; cursor:hand;
/* cursor:pointer; cursor:hand;*/
}

.arrow_left:active {
/*
background:url(/avatars/left_black.png) no-repeat 100% 100%;
*/
cursor:pointer; cursor:hand;
}
.arrow_left:focus {
/*
background:url(/avatars/left_focus.png) no-repeat 100% 100%;
*/
cursor:pointer; cursor:hand;
}


.arrow_right {
    top: -109px;
    right: 45px;
    padding: 9px 32px!important;
    cursor:pointer; cursor:hand;
    /*
 background:url(/avatars/right.png) no-repeat 100% 100%;
 cursor:pointer; cursor:hand;
 */
}

.arrow_right:active {
/*
background:url(/avatars/right_black.png) no-repeat 100% 100%;
 */
cursor:pointer; cursor:hand;
}

.arrow_right:focus {
/*
background:url(/avatars/right_focus.png) no-repeat 100% 100%;
 */
cursor:pointer; cursor:hand;
}


.s-all {font-size:12px; width:100%;  margin-left: -25px;}
.s-col1 {float:left;}
.s-col2 {float:right; }
.s-content {margin:0 10px 0 60px;}

label {
    /*width: 32px; /* Ширина рисунка */
    /* height: 26px; /* Высота рисунка */
    /* display: block; /* Блочный элемент */
    position: relative; /* Относительное позиционирование */
    /* margin-right: 50px;*/
     cursor: pointer; /* Курсор в виде руки */
}

.checkBoxField {
    position: absolute; /* Абсолютное позиционирование */
    left: 10px; top: 0;
    width: 15px;
    height: 15px;
    cursor: pointer; /* Курсор в виде руки */

}