.ShoppingCartCheck {
    color:red;
    position:absolute;
    z-index: 2000;
    cursor: pointer
}

.countShoppingCar{
    font-size: 20px;
    cursor: pointer
}

.shopingIcon{
    background: url(/avatars/shopping-cart.png);
    height: 145px;
    width: 175px;
}