<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body bgcolor="#FFFFFF" leftmargin="40" topmargin="0" marginwidth="0" marginheight="0">
<h1>Products from plywood and particleboard</h1>
<h2>New Application</h2>
<div>
        <table style="width:300px">
            <tr>
                <th>First Name: $person.firstName</th>
            </tr>
            <tr>
                <th>Last Name: $person.lastName</th>
            </tr>
            <tr>
                <th>Midle Name: $person.midleName</th>
            </tr>
            <tr>
                <th>email: $person.email</th>
            </tr>
        </table>
</div>

<div>
    <h2>Offers</h2>
<table style="width:300px">
    #foreach( $offer in $listOffer )
        <tr>
            <th>Name: </th>
            <th>
                $offer.product.name
            </th>
        </tr>
        <tr>
            <th>Type: </th>
            <th>
                $offer.product.type
            </th>
        </tr>
        <tr>
            <th>Price: </th>
            <th>$offer.count X $offer.product.price$</th>
        </tr>
    #end
    <tr>
        <th>The total amount of the order: </th>
        <th>$totalPrice$</th>
    </tr>
</table>
</div>
</body>
</html>