<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body bgcolor="#FFFFFF" leftmargin="40" topmargin="0" marginwidth="0" marginheight="0">
<h1>DARNUMAS</h1>
<h2>Order is accepted!</h2>
<p>Thank you for your made to order! In the near future we will contact you.</p>
<table class="table" style="width:300px">
    #foreach( $offer in $listOffer )
        <tr>
            <th>Name: </th>
            <th>
                $offer.product.name
            </th>
        </tr>
        <tr>
            <th>Type: </th>
            <th>
                $offer.product.type
            </th>
        </tr>
        <tr>
            <th>Price: </th>
            <th>$offer.count X $offer.product.price$</th>
        </tr>
    #end
    <tr>
        <th>The total amount of the order: </th>
        <th>$totalPrice$</th>
    </tr>
</table>
</body>
</html>